<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            text-align: center;
        }
        .btn-group {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h2>Bem-vindo, {{ user.nome }}</h2>
            <p><strong>Nome:</strong> {{user.nome}}</p>
            <p><strong>Email:</strong> {{user.email}}</p>
            <p><strong>Velocidade:</strong> {{user.velocidade}}</p>
            <p><strong>Força:</strong> {{user.forca}}</p>
            <p><strong>Agilidade:</strong> {{user.agilidade}}</p>
            <p><strong>Campeonato:</strong> {{user.camp}}</p>
            <p><strong>Rank:</strong> {{user.rank}}</p>
            <div class="btn-group">
                <a href="/routes/logado/lista" class="btn btn-primary">Buscar</a>
                <a href="/routes/logado/ajuste" class="btn btn-secondary">Ajuste</a>
                <a href="/routes/logado/machine" class="btn btn-secondary">Machine</a>
                <a href="/routes/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
